body {
    font-family: 'Roboto', sans-serif;
}

.books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border: 1px solid black;
    border-style: dashed;
}

/* .card {
    
} */

/* Styles for New Book */
.popup {
    visibility: hidden;
    border: 1px solid black;
}

.popup form {
    display: flex;
    background-color: #ADD8E6;
    padding: 5px;
}

form input {
    border-radius: 30px;
    cursor: pointer;
}

.popup-visible {
    visibility: visible;
}

input[type=submit] {
    border: none;
    box-shadow: 5px 5px 3px 0px #01b8f5,
    -5px -5px 3px 0 #01b8f5,
    5px -5px 3px 0 #01b8f5,
    -5px 5px 3px 0 #01b8f5;
    font-weight: bold;
}

input[type=submit]:active {
    box-shadow: none;
}

.content > h1 {
    border: 1px solid;
}