body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #6a6a45;
    color: white;
}

.books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
}

/* Styles for New Book */
.popup {
    visibility: hidden;
    border: 1px solid black;
    position: absolute;
    z-index: 1;
    margin: 0 5%;
    margin-top: 5px;
}

.popup form {
    display: flex;
    justify-content: space-around;
    background-color: #5e5e36;
    padding: 5px;
    transition: 1s background-color, 2s color, 2s box-shadow;
}

.popup form:hover {
    background-color: white;
    color: #5e5e36;
    box-shadow: 7px 7px 3px 0px black;
}

form input {
    border-radius: 30px;
    cursor: pointer;
}

.popup-visible {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    position: sticky;
    top: 10%;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

input[type=submit] {
    border: none;
    background-color: #4b5b6e ;
    color: white;
}

input[type=submit]:active {
    box-shadow: none;
}

.content > h1 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.marginMove {
    margin-top: 10vh;
}

.card {
    padding: 5px;
    box-shadow: 5px 5px 3px 0px black;
    background-color: #5e5e36;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    transition: box-shadow 1s;
}

.card:hover {
    box-shadow: 7px 7px 3px 0px black;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.btn-container {
    display: flex;
    padding: 1vh 0;
}

.btn {
    border: 1px solid black;
    margin: auto;
    width: 10vh;
    height: 10vw;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: #5e5e36;
    box-shadow: 5px 5px 3px 0px black;
    transition: 1s background-color, 2s color, 2s box-shadow;
}

.btn:hover {
    background-color: white;
    color: #5e5e36;
    box-shadow: 7px 7px 3px 0px black;
}